body{ margin:0px;}
.blue{ background-color:#0268B1;padding-top:20px;padding-bottom:20px;color:#FFFFFF;}
.purple{ background-color:#9800B3;padding-top:20px;padding-bottom:20px;color:#FFFFFF;}
.orange{ background-color:#D15B00;padding-top:20px;padding-bottom:20px;color:#FFFFFF;}
.green{ background-color:#4F9C00;padding-top:20px;padding-bottom:20px;color:#FFFFFF;}
.mehroon{ background-color:#9F002C;padding-top:20px;padding-bottom:20px;color:#FFFFFF;}
.mud{ background-color:#937200;padding-top:20px;padding-bottom:20px;color:#FFFFFF;}
.greenblue{ background-color:#007E54;padding-top:20px;padding-bottom:20px;color:#FFFFFF;}
.grey{ background-color:#3D3D3D;padding-top:20px;padding-bottom:20px;color:#FFFFFF;}