body{ font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;}
.heading{ font-size:26px;}
.content{ line-height:28px;font-size:14px;padding-top:10px;}
.clear{ clear:both;}
.align-left{ text-align:left;}